<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
  </head>
  <body>
    <div
      style="
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
      "
    >
      <h1>여기는 로그인 페이지입니다!</h1>
      <input
        type="text"
        placeholder="아이디"
        style="display: block; margin: 0 auto; text-align: center"
        autofocus
      /><br />
      <input
        type="password"
        placeholder="비밀번호"
        style="display: block; margin: 0 auto; text-align: center"
      /><br />
      <button style="display: block; margin: 0 auto; text-align: center">
        로그인
      </button>
    </div>
    <div
      style="
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
      "
    >
      <h3>아래 버튼을 누르면 루트 페이지로 이동합니다⬇️</h3>
      <a href="/" style="display: block; margin: 0 auto; text-align: center"
        >루트</a
      >
    </div>
  </body>
</html>
